---
interface Props {
    title: string;
    description: string;
    image?: string;
    canonicalURL?: string;
    type?: 'website' | 'article';
    noindex?: boolean;
}

const {
    title,
    description,
    image = '/og.png', // Create a default OG image
    canonicalURL = Astro.url.href,
    type = 'website',
    noindex = false,
} = Astro.props;

const siteName = 'cebby'; // Replace with your site name
---

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content={type} />
<meta property="og:url" content={canonicalURL} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />
<meta property="og:site_name" content={siteName} />

<!-- Facebook App ID -->
<meta property="fb:app_id" content="544046828379460" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={canonicalURL} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Noindex -->
{noindex && <meta name="robots" content="noindex" />}
